<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" strict="true" explicit="true" targetFramework="4.0" />
        <customErrors mode="RemoteOnly"></customErrors>
        <sessionState mode="Off" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="GifHandler.ashx Black victim">
                    <match url="color/([0-9a-fA-F]{3,6}|[0-9,]{5,11})/([a-zA-Z0-9\-_]+).gif" />
                    <action type="Rewrite" url="GifHandler.ashx?image={R:2}&amp;color={R:1}" />
                </rule>
                <rule name="GifHandler.ashx">
                    <match url="color/([0-9a-fA-F]{3,6}|[0-9,]{5,11})/([0-9a-fA-F]{3,6}|[0-9,]{5,11})/([a-zA-Z0-9\-_]+).gif" />
                    <action type="Rewrite" url="GifHandler.ashx?image={R:3}&amp;color={R:1}&amp;victim={R:2}" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough">
        </httpErrors>
        <caching>
            <profiles>
                <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00:10:00" varyByQueryString="lid,type,id,resize" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
